**/.git
**/.svn
**/.hg
**/node_modules
package.json
vite.config.ts
main.ts
router.ts
env.d.ts
tsconfig.json
windi.config.ts
.eslintrc.js
prettier.config.js
dist
.vscode
README.md
vercel.json
yarn.lock
.github